body {
	background-color: Snow;
}

form {
	margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid;
    border-color: black;
}

legend {
	color: black;
	font-size: 20px;
	font-family: 'Arial';
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
}

select {
	margin-top: 10px;
}

label {
	color: black;
	font-family: 'Trebutchet MS';
	font-size: 20px;
}

input {
	display: inline-block;
	margin-top:10px;
}