form {
	margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid;
    border-color: black;
}

label {
	font-weight: bold;
	color: limegreen;
	font-family: 'Trebutchet MS';
	font-size:20px;
	width: 90px;
    text-align: right;
}